<!-- Footer -->
<div class="footer">
	<div class="row justify-content-between align-items-center">
		<div class="col">
			<p class="fs-6 mb-0">
				&copy; OMS.
				<span class="d-none d-sm-inline-block">2022</span>
			</p>
		</div>
		<!-- End Col -->
		<div class="col-auto">
			<div class="d-flex justify-content-end">
				<!-- List Separator -->
				<ul class="list-inline list-separator">
					<li class="list-inline-item">
						<a class="list-separator-link" href="#">FAQ</a>
					</li>
					<li class="list-inline-item">
						<a class="list-separator-link" href="#">License</a>
					</li>
				</ul>
				<!-- End List Separator -->
			</div>
		</div>
		<!-- End Col -->
	</div>
	<!-- End Row -->
</div>
<!-- End Footer -->

<!-- Notice -->
{{>layout/notice}}

<!-- 공통 플러그인 -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js"></script>
<script src="/vendor/hs-file-attach/dist/hs-file-attach.min.js"></script>
<script src="/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js"></script>
<script src="/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
<script src="/vendor/hs-counter/dist/hs-counter.min.js"></script>
<script src="/vendor/appear/dist/appear.min.js"></script>
<script src="/vendor/imask/dist/imask.min.js"></script>
<script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables.net.extensions/select/select.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendor/jszip/dist/jszip.min.js"></script>
<script src="/vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
<script src="/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>
<script src="/vendor/tom-select/dist/js/tom-select.complete.min.js"></script>
<script src="/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/header.js"></script>
<script src="/js/theme.min.js"></script>