<script src="/js/theme.min.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js"></script>
<script src="/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
<script src="/js/style-switcher.js"></script>
<!-- END 공통 플러그인 -->