<!-- Header: head 레이아웃과 css와 같은 디자인 요소들이 들어갑니다. -->
<!-- Content: 본 페이지의 실제 내용에 대한 레이아웃이 들어갑니다. -->
<!-- Modal: Modal 레이아웃이 들어갑니다. -->
<!-- Footer: Footer가 들어갑니다.-->
<!-- Script: 사용할 스크립트들에 대한 레이아웃입니다. -->