<!-- Loading Image -->
<div class="loading display-none">
	<div>
		<img src="/img/loading.gif" />
	</div>
</div>

<!-- Footer -->
<footer class="sticky-footer">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span style="color: #4e73df">Copyright &copy; CMS 2021</span>
		</div>
	</div>
</footer>

<!-- 로그아웃 모달 -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title text-light" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>			
			<div class="modal-footer">				
				<a class="btn btn-danger" href="/logout">로그아웃</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>