<!-- 비밀번호 초기화 모달 -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title" id="resetPasswordTitle">비밀번호 초기화</h5>
				<button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- End Modal Header -->
			<!-- Modal Body -->
			<div class="modal-body">
				<div class="tab-content">
					<!-- 이메일 -->
					<div class="mb-4">
						<label class="form-label" for="resetPasswordEmail" id="labelResetPasswordEmail">이메일</label>
						<input type="email" class="form-control form-control-lg" autocomplete="off" name="resetPasswordEmail" id="resetPasswordEmail" onChange="resetPasswordEmailCheck()" onkeyup="enterResetPassword()" placeholder="등록한 계정의 이메일을 입력하세요" aria-label="Enter your email address" required>												
					</div>
					<!-- End 이메일 -->
					<!-- 버튼 -->
					<div class="d-grid gap-2">
						<button type="button" class="btn btn-outline-danger btn-lg text-theme" onClick="resetPassword()">비밀번호 초기화</button>
						<button type="button" class="btn btn-outline-secondary btn-lg text-theme"  data-bs-dismiss="modal" aria-label="Close">닫기</button>
					</div>
					<!-- End 버튼 -->
				</div>
			</div>
			<!-- End Modal Body -->
		</div>
	</div>
</div>