thead {
	background-color: skyblue;
	color: purple;
}

table#memberTable.dataTable tbody tr:hover {
	background-color: #80ffff;
}

table#memberTable.dataTable tbody tr.selected {
	background-color: #0047ab;
	color: gold;
}

img {
	width: 40px;
}