thead {
	background-color: rgb(192, 192, 192);
	color: black;
}

table#table.dataTable tbody tr:hover {
	background-color: silver;
}

table#table.dataTable tbody tr.selected {
	background-color: black;
	color: white;
}