thead {
	background-color: rgb(192, 192, 192);
	color: black;
}

table#memberTable.dataTable tbody tr:hover {
	background-color: silver;
}

table#memberTable.dataTable tbody tr.selected {
	background-color: black;
	color: white;
}

img {
	width: 40px;
}