<div class="container-fluid">
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive-xl">
				<table class="table table-bordered" id="memberTable" width="100%" cellspacing="0"
					style="text-align: center">
					<thead>
						<tr>
							<th></th>
							<th>사진</th>
							<th>사번</th>
							<th>부서</th>
							<th>직책</th>
							<th>이름</th>
							<th>이메일</th>
							<th>연락처</th>
							<th>비상연락처</th>
							<th>생일</th>
							<th>입사일</th>
							<th>상태</th>
							<th>상세정보</th>
						</tr>
					</thead>
					<tbody id="tbody">
						{{#memberList}}
						<tr>
							<td></td>
							<td><img
									src="https://external-preview.redd.it/F5FKEHf8ILOeB9uGcfY8ZEK5Ivt3lww_LdSaIU4SQsA.png?auto=webp&s=e3b926eefc1f0b58df5352634ef95ee64a582c13">
							</td>
							<td id="memberId">{{id}}</td>
							<td>{{department}}</td>
							<td>{{position}}</td>
							<td>{{name}}</td>
							<td>{{email}}</td>
							<td>{{phone}}</td>
							<td>{{emergencyContact}}</td>
							<td>{{birthday}}</td>
							<td>{{hireDate}}</td>
							<td>{{status}}</td>
							<td><button class="btn btn-sm btn-info shadow-sm updateModal"><i
										class="fas fa-search fa-sm text-white-100"></i></button></td>
						</tr>
						{{/memberList}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>