<div class="modal fade" id="memberModal" role="dialog">
	<div class="modal-dialog" role="document">
		<!-- Modal Content -->
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-title" class="modal-title"></h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<input type="hidden" id="id">
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table" id="taskTable" width="100%" cellspacing="0">
						<tr>
							<td>이름</td>
							<td><input class="form-control" id="name" type="text"></td>
						</tr>
						<tr>
							<td>부서</td>
							<td><select id="department" class="form-control">
									<option value="매장">매장</option>
									<option value="회계">회계</option>
									<option value="영업">영업</option>
									<option value="법무">법무</option>
									<option value="총무">총무</option>
									<option value="재무">재무</option>
									<option value="물류">물류</option>
									<option value="전산">전산</option>
									<option value="인사">인사</option>
									<option value="경영">경영</option>
							</select></td>
						</tr>
						<tr>
							<td>직급</td>
							<td><select id="position" class="form-control">
									<option value="사원">사원</option>
									<option value="주임">주임</option>
									<option value="대리">대리</option>
									<option value="과장">과장</option>
									<option value="차장">차장</option>
									<option value="부장">부장</option>
									<option value="이사">이사</option>
									<option value="상무">상무</option>
									<option value="전무">전무</option>
									<option value="대표">대표</option>
							</select></td>
						</tr>
						<tr>
							<td>사진</td>
							<td><input type="file" class="form-control" id="photo"></td>
						</tr>
						<tr>
							<td>이메일</td>
							<td><input type="email" class="form-control" id="email"></td>
						</tr>
						<tr>
							<td>연락처</td>
							<td><input type="tel" class="form-control" id="phone"></td>
						</tr>
						<tr>
							<td>비상연락처</td>
							<td><input type="tel" class="form-control"
								id="emergencyContact"></td>
						</tr>
						<tr>
							<td>생일</td>
							<td><input type="date" class="form-control" id="birthday"></td>
						</tr>
						<tr>
							<td>입사일</td>
							<td><input type="date" class="form-control" id="hireDate"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="submitMember" class="btn btn-primary">등록</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>