<!-- ========== HEADER ========== -->
{{>error/header}}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="main">
	<!-- Content -->
	<div class="container">
		<a class="position-absolute top-0 start-0 end-0 py-4" href="/">
			<img class="avatar avatar-xl avatar-4x3 avatar-centered" src="/img/oms_logo.png" alt="Image Description" data-hs-theme-appearance="default">
			<img class="avatar avatar-xl avatar-4x3 avatar-centered" src="/img/oms_logo.png" alt="Image Description" data-hs-theme-appearance="dark">
		</a>
		<div class="footer-height-offset d-flex justify-content-center align-items-center flex-column">
			<div class="row justify-content-center align-items-sm-center w-100">
				<div class="col-9 col-sm-6 col-lg-4">
					<div class="text-center text-sm-end me-sm-4 mb-5 mb-sm-0">
						<img class="img-fluid" src="/svg/illustrations/oc-thinking.svg" alt="Image Description" data-hs-theme-appearance="default">
						<img class="img-fluid" src="/svg/illustrations-light/oc-thinking.svg" alt="Image Description" data-hs-theme-appearance="dark">
					</div>
				</div>
				<!-- End Col -->
				<div class="col-sm-6 col-lg-4 text-center text-sm-start">
					<h1 class="display-1 mb-0">500</h1>
					<p class="lead">내부 서버에서 오류가 발생하였습니다</p>
					<a class="btn btn-primary" href="">메인 페이지로 돌아가기</a>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Row -->
		</div>
	</div>
	<!-- End Content -->
	<!-- Footer -->
	<div class="footer text-center">
		<ul class="list-inline list-separator">
			<li class="list-inline-item"><a class="list-separator-link" href="#">OMS Support</a></li>
			<li class="list-inline-item"><a class="list-separator-link" href="#">OMS Status</a></li>
			<li class="list-inline-item"><a class="list-separator-link" href="#">Get Help</a></li>
		</ul>
	</div>
	<!-- End Footer -->
</main>
<!-- ========== FOOTER ========== -->
{{>error/footer}}
