<!-- JS Global Compulsory  -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- JS Front -->
<script src="/js/theme.min.js"></script>
</body>
</html>