<!-- Header -->
{{>account/layout/header}}

<!-- Content -->
{{>account/main/content}}

<!-- 계정 등록 Modal -->
{{>account/main/modal}}

<!-- Footer -->
{{>account/layout/footer}}

<!-- Script -->
{{>account/main/script}}