<!DOCTYPE html>
<html lang="kr">
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="/img/oms.ico">
<title>OMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="O-Management System" />
<meta name="author" content="JSW" />
<!-- ================== BEGIN core-css ================== -->
<link href="/assets/css/vendor.min.css" rel="stylesheet" />
<link href="/assets/css/app.min.css" rel="stylesheet" />
<!-- ================== END core-css ================== -->
</head>
<body class='pace-top'>
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN login -->
		<div class="login">
			<!-- BEGIN login-content -->
			<div class="login-content">
				<h1 class="text-center">OMS</h1>
				<div class="text-danger text-center mb-4" id="loginResultFeedback">{{message}}</div>
				<form action="/login" method="post" encType="application/x-www-form-urlencoded">
					<div class="mb-3">
						<label class="form-label text-theme">계정(이메일)<span class="text-danger"> *</span></label>
						<input type="email" class="form-control form-control-lg bg-white bg-opacity-5" autocomplete="off" name="email" placeholder="이메일을 입력하세요" tabindex="1" />
					</div>
					<div class="mb-3">
						<div class="d-flex">
							<label class="form-label text-theme">비밀번호<span class="text-danger"> *</span></label>
							<a href="#" class="ms-auto text-white text-decoration-none text-opacity-50" tabindex="0">비밀번호 찾기</a>
						</div>
						<input type="password" class="form-control form-control-lg bg-white bg-opacity-5" autocomplete="off" name="password" placeholder="비밀번호를 입력하세요" tabindex="1"/>
					</div>
					<div class="mb-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="rememberMe" name="remember_me" tabindex="0"/>
							<label class="form-check-label text-theme" for="rememberMe">아이디 저장</label>
						</div>
					</div>
					<button type="submit" class="btn btn-outline-primary btn-lg d-block w-100 fw-500 mb-3 text-theme" tabindex="1">로그인</button>
				</form>
				<button class="btn btn-outline-success btn-lg d-block w-100 fw-500 mb-3 text-theme" tabindex="-1" data-bs-toggle="modal" data-bs-target="#createAccountModal">계정 등록</button>
				<button class="btn btn-outline-danger btn-lg d-block w-100 fw-500 mb-3 text-theme" tabindex="-1" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">비밀번호 초기화</button>
				<button class="btn btn-outline-warning btn-lg d-block w-100 fw-500 mb-3 text-theme" tabindex="-1" data-bs-toggle="modal" data-bs-target="#changePasswordModal">비밀번호 변경</button>
			</div>
			<!-- END login-content -->
		</div>
		<!-- END login -->
		<!-- 공통 플러그인(Top 스크롤 + 테마 설정) -->
		{{>plugin/common}}
		<!-- 모달 -->
		{{>modal/create_account}}
		{{>modal/reset_password}}
		{{>modal/change_password}}
	</div>
	<!-- END #app -->
	<!-- ================== BEGIN core-js ================== -->	
	<script src="/assets/js/vendor.min.js"></script>
	<script src="/assets/js/app.min.js"></script>
	<script src="/assets/js/login.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- ================== END core-js ================== -->
</body>
</html>