
<!-- JS Global Compulsory  -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
<script src="/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>

<!-- 직원 등록/수정 모달 전용 스크립트 -->
<script src="/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
<script src="/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/account.js"></script>

<!-- 비밀번호 초기화 스크립트 -->
<script src="/js/reset-password.js"></script>

<!-- JS Front -->
<script src="/js/theme.min.js"></script>

<!-- JS Plugins Init. -->
<script>
	(function() {
		window.onload = function() {
			// Ajax 로딩
			$(document).ajaxStart(function() {
				$('.loading').removeClass('d-none');
			});
			$(document).ajaxStop(function() {
				$('.loading').addClass('d-none');
			});
			
			// INITIALIZATION OF FORM SEARCH
			// =======================================================
			new HSFormSearch('.js-form-search')

			// INITIALIZATION OF TOGGLE PASSWORD
			// =======================================================
			new HSTogglePassword('.js-toggle-password')

		}
	})()
</script>
</body>
</html>