<!---------- 추가 레이아웃 ------------->
<!-- 활동내역 -->
{{>layout/activity}}
<!-- 팀 등록 모달 -->
{{>layout/team_modal}}

<!----------- Footer ------------->
<!-- 공통 플러그인 + Footer -->
{{>common/footer}}
<!-- 팀 관리 스크립트 -->
<script src="/js/team.js"></script>
</body>
</html>