<!-- 비밀번호 변경 모달 -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title" id="changePasswordTitle">비밀번호 변경</h5>
				<button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- End Modal Header -->
			<!-- Modal Body -->
			<div class="modal-body">
				<div class="tab-content">
					<!-- 이메일 -->
					<div class="row mb-4">                	
	                	<label id="labelChangePasswordEmail" for="changePasswordEmail" class="col-sm-4 col-form-label form-label">이메일</label>
	                  	<div class="col-sm-8">
	                    	<input type="email" onChange="changePasswordEmailCheck()" class="form-control" name="changePasswordEmail" id="changePasswordEmail" placeholder="이메일을 입력하세요" aria-label="Input your Email" value="">
	                  	</div>
					</div>
					<!-- End 이메일 -->
					<!-- 기존/초기화 비밀번호 -->
					<div class="row mb-4" id="divOldPassword">
						<label id="labelOldPassword" for="oldPassword" class="col-sm-4 col-form-label form-label">기존/초기화 비밀번호</label>
						<div class="col-sm-8">
							<div class="input-group input-group-merge">
								<input type="password" onChange="oldPasswordCheck()" class="js-toggle-password form-control" name="oldPassword" id="oldPassword" placeholder="기존/초기화 비밀번호를 입력하세요" aria-label="Enter password" data-hs-toggle-password-options='{
									"target": "#oldPasswordToggle",
									"defaultClass": "bi-eye-slash",
									"showClass": "bi-eye",
									"classChangeTarget": "#oldPasswordToggleIcon" }'>
								<a id="oldPasswordToggle" class="input-group-append input-group-text" tabindex="-1" href="javascript:;">
									<i id="oldPasswordToggleIcon" class="bi-eye"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- End 비밀번호 -->
					<!-- 새 비밀번호 -->
					<div class="row mb-4" id="divNewPassword">
						<label id="labelNewPassword" for="newPassword" class="col-sm-4 col-form-label form-label">신규 비밀번호</label>
						<div class="col-sm-8">
							<div class="input-group input-group-merge">
								<input type="password" onChange="newPasswordCheck()" class="js-toggle-password form-control" name="newPassword" id="newPassword" placeholder="비밀번호는 최소 8자 이상, 영어대소문자, 특수문자, 숫자를 포함" aria-label="Enter password" data-hs-toggle-password-options='{
									"target": "#newPasswordToggle",
									"defaultClass": "bi-eye-slash",
									"showClass": "bi-eye",
									"classChangeTarget": "#newPasswordToggleIcon" }'>
								<a id="newPasswordToggle" class="input-group-append input-group-text" tabindex="-1" href="javascript:;">
									<i id="newPasswordToggleIcon" class="bi-eye"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- End 비밀번호 -->
					<!-- 비밀번호 확인 -->
					<div class="row mb-4" id="divNewPasswordConfirm">
						<label id="labelNewPasswordConfirm" for="newPasswordConfirm" class="col-sm-4 col-form-label form-label">신규 비밀번호 확인</label>
						<div class="col-sm-8">
							<div class="input-group input-group-merge">
								<input type="password" onChange="newPasswordCheck()" class="js-toggle-password form-control" name="newPasswordConfirm" id="newPasswordConfirm" placeholder="새 비밀번호와 동일하게 입력하세요" aria-label="Confirm password" data-hs-toggle-password-options='{
									"target": "#newPasswordConfirmToggle",
									"defaultClass": "bi-eye-slash",
									"showClass": "bi-eye",
									"classChangeTarget": "#newPasswordConfirmToggleIcon" }'>
								<a id="newPasswordConfirmToggle" class="input-group-append input-group-text" tabindex="-1" href="javascript:;">
									<i id="new-password-confirm-toggle-icon" class="bi-eye"></i>
								</a>
							</div>
						</div>
					</div>					
					<!-- End 비밀번호 확인 -->
					<!-- 비밀번호 변경 결과 메시지 -->
					<span class="text-cap text-danger" id="changePasswordMessage"></span>
					<!-- End 비밀번호 변경 결과 메시지 -->
					<!--  하단 버튼 -->
					<div class="d-grid gap-2">
						<button type="button" class="btn btn-primary btn-lg" onClick="changePassword()">비밀번호 변경</button>
						<button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal" aria-label="Close">닫기</button>
					</div>
					<!-- End 하단 버튼 -->
				</div>
			</div>
			<!-- End Modal Body -->
		</div>
	</div>
</div>