<!-- 비밀번호 초기화 모달 -->
<div class="modal fade" id="reset-password-modal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title" id="reset-password-title">비밀번호 초기화</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- End Modal Header -->
			<!-- Modal Body -->
			<div class="modal-body">
				<div class="tab-content">
					<div class="mb-4">
						<label class="form-label" for="reset-email" tabindex="0">이메일</label>
						<input type="email" class="form-control form-control-lg" name="reset-email" id="reset-email" tabindex="1"  onkeyup="enterResetPassword()" placeholder="등록한 계정의 이메일을 입력하세요" aria-label="Enter your email address" required>						
						<span class="text-cap text-danger" id="reset-email-feedback"></span>
					</div>
					<div class="d-grid gap-2">
						<button type="button" class="btn btn-danger btn-lg" onClick="resetPassword()">비밀번호 초기화</button>
						<button type="button" class="btn btn-secondary btn-lg"  data-bs-dismiss="modal" aria-label="Close">로그인 하러가기</button>
					</div>
				</div>
			</div>
			<!-- End Modal Body -->
		</div>
	</div>
</div>