<!-- 비밀번호 초기화 모달 -->
<div class="modal fade" id="reset-password-modal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title" id="reset-password-title">비밀번호 초기화</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- End Modal Header -->

			<div class="container py-5 py-sm-7">
					<div class="mx-auto" style="max-width: 30rem;">
						<!-- Card -->
						<div class="card card-lg mb-5">
							<div class="card-body">
								<!-- <form class="js-validate needs-validation" novalidate> -->
									<!-- Form -->
									<div class="mb-4">
										<label class="form-label" for="reset-email" tabindex="0">계정 이메일</label>
										<input type="email" class="form-control form-control-lg" name="reset-email" id="reset-email" tabindex="1"  onkeyup="enter()" placeholder="등록한 계정의 이메일을 입력하세요" aria-label="Enter your email address" required>
										<span class="invalid-feedback" id="reset-email-feedback">등록한 계정의 이메일을 입력하세요</span>
									</div>
									<!-- End Form -->	
									<div class="d-grid gap-2">
										<button type="button" class="btn btn-danger btn-lg" onClick="resetPassword()">비밀번호 초기화</button>
										<div class="text-center">
											<a class="btn btn-link" data-bs-dismiss="modal" aria-label="Close">
												<i class="bi-chevron-left"></i>로그인 하러가기
											</a>
										</div>
									</div>
								<!-- </form> -->
								<!-- End Form -->
							</div>
						</div>
						<!-- End Card -->
					</div>
				</div>
		</div>
	</div>
</div>