<!-- 직원 등록/수정 모달 -->
<div class="modal fade" id="updateAccountModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="updateAccountTitle">계정 정보</h5>
				<button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Body -->
			<div class="modal-body">
				<!-- Tab Content -->
				<div class="tab-content" id="editUserModalTabContent">
					<div class="tab-pane fade show active" id="profileRequired" role="tabpanel" aria-labelledby="profile-required-tab">
						<!-- <form> -->
						<!-- Profile Cover -->
						<div class="profile-cover">
							<div class="profile-cover-img-wrapper">
								<img id="editProfileCoverImgModal" class="profile-cover-img" src="/img/1920x400/img1.jpg" alt="Image Description">
								<!-- Custom File Cover -->
								<div class="profile-cover-content profile-cover-uploader p-3">
									<input type="file" class="js-file-attach profile-cover-uploader-input" id="editProfileCoverUplaoderModal" data-hs-file-attach-options='{
                                  "textTarget": "#editProfileCoverImgModal",
                                  "mode": "image",
                                  "targetAttr": "src",
                                  "allowTypes": [".png", ".jpeg", ".jpg"]
                               }'> <label class="profile-cover-uploader-label btn btn-sm btn-white" for="editProfileCoverUplaoderModal"> <i class="bi-camera-fill"></i> <span class="d-none d-sm-inline-block ms-1">Upload header</span>
									</label>
								</div>
								<!-- End Custom File Cover -->
							</div>
						</div>
						<!-- End Profile Cover -->
						<!-- Avatar -->
						<label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar mb-5" for="editAvatarUploaderModal"> <!-- <img id="editAvatarImgModal" class="avatar-img" src="/img/160x160/img9.jpg" alt="Image Description"> --> <input type="file" class="js-file-attach avatar-uploader-input" id="editAvatarUploaderModal" data-hs-file-attach-options='{
                              "textTarget": "#editAvatarImgModal",
                              "mode": "image",
                              "targetAttr": "src",
                              "allowTypes": [".png", ".jpeg", ".jpg"]
                           }'> <span class="avatar-uploader-trigger"> <i class="bi-pencil-fill avatar-uploader-icon shadow-sm"></i>
						</span>
						</label>
						<!-- End Avatar -->
						<!-- 이름 -->
						<div class="row mb-4">
							<label id="labelUpdateName" for="updateEame" class="col-sm-3 col-form-label form-label">이름</label>
							<div class="col-sm-9">
								<div class="input-group input-group-sm-vertical">
									<input type="text" onChange="updateNameCheck()" class="form-control" name="updateName" id="updateName" placeholder="이름을 입력하세요" aria-label="Input Your Name" value="">
								</div>
							</div>
						</div>
						<!-- End 이름 -->
						<!-- 이메일 -->
						<div class="row mb-4">
							<label id="labelUpdateEmail" for="updateEmail" class="col-sm-3 col-form-label form-label">이메일</label>
							<div class="col-sm-9">
								<input type="email" onChange="updateEmailCheck()" class="form-control" name="updateEmail" id="updateEmail" placeholder="이메일을 입력하세요" aria-label="Input your Email" value="">
							</div>
						</div>
						<!-- End 이메일 -->
						<!-- 연락처 -->
						<div class="row mb-4">
							<label id="labelUpdatePhone" for="updatePhone" class="col-sm-3 col-form-label form-label">연락처</label>
							<div class="col-sm-9">
								<div class="input-group input-group-sm-vertical">
									<input type="text" onInput="autoHyphen(this)" onChange="phoneCheck()" class="js-masked-input form-control" name="updatePhone" id="updatePhone" placeholder="010-xxxx-xxxx" aria-label="010-xxxx-xxxx" value="" data-hs-mask-options='{
                                 "template": "010-0000-0000"
                               }'>
								</div>
							</div>
						</div>
						<!-- End 연락처 -->
						<!-- 비상연락처 -->
						<div class="row mb-4">
							<label id="labelUpdateEmergencyContact" for="updateEmergencyContact" class="col-sm-3 col-form-label form-label">비상연락처<span class="form-label-secondary"> (선택)</span></label>
							<div class="col-sm-9">
								<div class="input-group input-group-sm-vertical">
									<input type="text" onInput="autoHyphen(this)" onChange="emergencyContactCheck()" class="js-masked-input form-control" name="updateEmergencyContact" id="updateEmergencyContact" placeholder="010-xxxx-xxxx" aria-label="010-xxxx-xxxx" value="" data-hs-mask-options='{
                                 "template": "010-0000-0000"
                               }'>
								</div>
							</div>
						</div>
						<!-- End 비상연락처 -->
						<!-- 직급 -->
						<div class="row mb-4">
							<label id="labelUpdatePosition" for="updatePosition" class="col-sm-3 col-form-label form-label">직급</label>
							<div class="col-sm-9">
								<select onChange="updatePositionCheck()" class="form-select" name="updatePosition" id="updatePosition">
									<option value="">직급을 선택하세요</option>
								</select>
							</div>
						</div>
						<!-- End 직급 -->
						<!-- 부서 -->
						<div class="row mb-4">
							<label id="labelUpdateDepartment" for="updateDepartment" class="col-sm-3 col-form-label form-label">부서</label>
							<div class="col-sm-9">
								<select onChange="updateDepartmentCheck()" class="form-select" name="updateDepartment" id="updateDepartment">
									<option value="">부서를 선택하세요</option>
								</select>
							</div>
						</div>
						<!-- End 부서 -->
						<!-- 주소 + 상세주소 -->
						<div class="row mb-4">
							<label id="labelUpdateAddress" class="col-sm-3 col-form-label form-label">주소<i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="주소 검색 선택시 주소 검색창이 열립니다"></i></label>
							<div class="col-sm-9">
								<input type="search" onInput="updateAddressCheck()" onClick="updateSearchAddress()" class="form-control" name="updateAddress" id="updateAddress" value="" placeholder="주소 검색" readonly>
							</div>
						</div>
						<div class="row mb-4">
							<label id="labelUpdateAddressDetail" for="updateAddressDetail" class="col-sm-3 col-form-label form-label">상세주소<span class="form-label-secondary"> (선택)</span></label>
							<div class="col-sm-9">
								<input type="text" onChange="updateAddressDetailCheck()" class="form-control" name="updateAddressDetail" id="updateAddressDetail" placeholder="상세주소는 선택항목입니다" value="">
							</div>
						</div>
						<!-- End 주소 -->
						<!-- 권한 -->
						<div class="row mb-4">
							<label id="labelUpdateRole" class="col-sm-3 col-form-label form-label">권한</label>
							<div class="col-sm-9">
								<div class="input-group input-group-sm-vertical">
									<label class="form-control" for="updateRoleAdmin">
										<span class="form-check"><input type="radio" onClick="updateRoleCheck()" class="form-check-input" name="updateRole" id="updateRoleAdmin" value="ADMIN">
											<span class="form-check-label">관리자(Admin)</span>
										</span>
									</label>
									<label class="form-control" for="updateRoleManager">
										<span class="form-check"><input type="radio" onClick="updateRoleCheck()" class="form-check-input" name="updateRole" id="updateRoleManager" value="MANAGER">
											<span class="form-check-label">팀장(Manager)</span>
										</span>
									</label>
									<label class="form-control" for="updateRoleUser">
										<span class="form-check"><input type="radio" onClick="updateRoleCheck()" class="form-check-input" name="updateRole" id="updateRoleUser" value="USER">
											<span class="form-check-label">직원(User)</span>
										</span>
									</label>
								</div>
							</div>
						</div>
						<!-- End 권한 -->
						<!-- 생일 -->
						<div class="row mb-4">
							<label id="labelUpdateBirthday" for="updateBirthday" class="col-sm-3 col-form-label form-label">생년월일<span class="form-label-secondary"> (선택)</span></label>
							<div class="col-sm-9">
								<input type="date" onChange="updateBirthdayCheck()" class="form-control" name="updateBirthday" id="updateBirthday" placeholder="생년월일을 입력하세요" aria-label="Input birthday" value="">
							</div>
						</div>
						<!-- End 생일 -->
						<!-- 입사일 -->
						<div class="row mb-4">
							<label id="labelUpdateHireDate" for="updateHireDate" class="col-sm-3 col-form-label form-label">입사일<span class="form-label-secondary"> (선택)</span></label>
							<div class="col-sm-9">
								<input type="date" onChange="updateHireDateCheck()" class="form-control" name="updateHireDate" id="updateHireDate" placeholder="이메일을 입력하세요" aria-label="Input hire date" value="">
							</div>
						</div>
						<!-- End 입사일 -->
						<!-- 비밀번호 -->
						<div class="row mb-4 d-none" id="divUpdatePassword">
							<label id="labelUpdatePassword" for="updatePassword" class="col-sm-3 col-form-label form-label">비밀번호</label>
							<div class="col-sm-9">
								<div class="input-group input-group-merge">
									<input type="password" onChange="passwordCheck()" class="js-toggle-password form-control" name="updatePassword" id="updatePassword" placeholder="" aria-label="Enter password" data-hs-toggle-password-options='{
										"target": "#updatePasswordToggle",
										"defaultClass": "bi-eye-slash",
										"showClass": "bi-eye",
										"classChangeTarget": "#updatePasswordToggleIcon" }'>
									<a id="updatePasswordToggle" class="input-group-append input-group-text" tabindex="-1" href="javascript:;">
										<i id="updatePasswordToggleIcon" class="bi-eye"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- End 비밀번호 -->
						<!-- 하단 버튼 -->
						<div class="d-grid gap-2">
							<button class="btn btn-primary d-none" onClick="updateAccount({{sessionId}})" id="updateAccountButton">수정</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
						</div>
						<!-- End 하단 버튼 -->
					</div>
				</div>
			</div>
			<!-- End Body -->
		</div>
	</div>
</div>