<!--============== FOOTER ===============-->
<!-- 활동내역 -->
{{>layout/activity}}
<!-- 부서 등록 모달 -->
{{>layout/create_department_modal}}
<!-- 부서 수정 모달 -->
{{>layout/update_department_modal}}
<!-- 공통 플러그인 + Footer -->
{{>common/footer}}
<!-- 부서관리 스크립트 -->
<script src="/js/department.js"></script>
</body>
</html>